# selector

In [13]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
from bs4 import BeautifulSoup
import urllib.request 
import urllib.request
import pandas as pd


from bs4 import BeautifulSoup 
import requests

In [10]:
from urllib.parse   import quote
from urllib.request import urlopen
url = 'https://www.shuttledelivery.co.kr/ko/restaurant/menu/943/' + quote("국수나무")

# soup = BeautifulSoup(urllib.request.urlopen(url).read(), 'html.parser')
res = requests.get(url)
bs = BeautifulSoup(res.content, 'html.parser')  

menu_tables = bs.select('#leftBasketColumn > div > div')

In [61]:
# for menu_table in menu_tables:
#     print(menu_table)

In [91]:
for i in menu_tables[0].select('div span.price'):
    print(i.text.strip())

13,000원
13,000원
9,500원
7,500원
11,000원
11,000원
11,000원

In [95]:
for menu in menu_tables[0].select('div h4.itemtitle'):
    print(menu.text.strip())

로제돈까스정식
크림돈까스정식
국치정식
국만정식
냉치정식
모듬 어묵탕면 정식
모듬 어묵우동 정식

In [1]:
# url = "https://www.yogiyo.co.kr/mobile/?utm_source=naverpc&utm_medium=cpc&utm_campaign=sem_ven_web_eat_kr_fr.etc&utm_term=%EA%B5%AD%EC%88%98%EB%82%98%EB%AC%B4%EB%A9%94%EB%89%B4&n_media=27758&n_query=%EA%B5%AD%EC%88%98%EB%82%98%EB%AC%B4%EB%A9%94%EB%89%B4&n_rank=3&n_ad_group=grp-a001-01-000000008225776&n_ad=nad-a001-01-000000044655738&n_keyword_id=nkw-a001-01-000001536460041&n_keyword=%EA%B5%AD%EC%88%98%EB%82%98%EB%AC%B4%EB%A9%94%EB%89%B4&n_campaign_type=1&NaPm=ct%3Dk7dclml4%7Cci%3D0AG0003JEzXs4dN0iL12%7Ctr%3Dsa%7Chk%3Dee25475cef5ced36254e525ce02de16e53aaeb0e#/304188/"
# res = requests.get(url)
# bs = BeautifulSoup(res.content, 'html.parser')  

# bs

# 요기요크롤링

In [3]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
from bs4 import BeautifulSoup

In [2]:
# chromedriver = './chromedriver.exe' 
driver = webdriver.Chrome('./chromedriver')
driver.implicitly_wait(3)  # 로딩 될때까지 3초 대기

time.sleep(3)

driver.get("https://www.yogiyo.co.kr/mobile/?utm_source=naverpc&utm_medium=cpc&utm_campaign=sem_ven_web_eat_kr_fr.etc&utm_term=%EA%B5%AD%EC%88%98%EB%82%98%EB%AC%B4%EB%A9%94%EB%89%B4&n_media=27758&n_query=%EA%B5%AD%EC%88%98%EB%82%98%EB%AC%B4%EB%A9%94%EB%89%B4&n_rank=3&n_ad_group=grp-a001-01-000000008225776&n_ad=nad-a001-01-000000044655738&n_keyword_id=nkw-a001-01-000001536460041&n_keyword=%EA%B5%AD%EC%88%98%EB%82%98%EB%AC%B4%EB%A9%94%EB%89%B4&n_campaign_type=1&NaPm=ct%3Dk7dclml4%7Cci%3D0AG0003JEzXs4dN0iL12%7Ctr%3Dsa%7Chk%3Dee25475cef5ced36254e525ce02de16e53aaeb0e#/304188/")
time.sleep(2)

In [3]:
bs = BeautifulSoup(driver.page_source, 'html.parser')

In [14]:
menus = bs.select('#menu > div > div > div.panel-collapse.collapse.in.btn-scroll-container > div > ul > li')

#test
# menus[0].select('div.menu-name')[0].text
# menus[0].select('div.menu-price span.text-strike')[0].text[:-1]

menu_list = []
price_list = []

for menu in menus:
    menu_list.append(menu.select('div.menu-name')[0].text)
    price_list.append(menu.select('div.menu-price span.text-strike')[0].text[:-1])

In [15]:
print(len(menu_list), len(price_list))

64 64

In [6]:
# import pandas as pd

# df = pd.DataFrame()

# for i in range(len(menu_list)):
#     menu_list[i] =

In [16]:
dic = {}
for i in range(len(menu_list)):
    dic[menu_list[i]] = price_list[i]

In [17]:
menu_list[54] = '찐만두(8개)'
price_list[54] = '3,000'

In [18]:
df = pd.DataFrame()
# df['메뉴'] = menu_list
# df['가격'] = price_list

In [19]:
# df1= df[0:21]
# df2 = df[21:41]
# df3 = df[41:6]

In [20]:
df = pd.DataFrame()

a = menu_list[21:42]
b = price_list[21:42]

a.reverse()
b.reverse()

# df['메뉴1'] = menu_list[21:42].reverse()
# df['가격1'] = price_list[21:42].reverse()

df['메뉴1'] = a
df['가격1'] = b


df['메뉴2'] = menu_list[0:21]
df['가격2'] = price_list[0:21]


df['메뉴3'] = menu_list[43:64]
df['가격3'] = price_list[43:64]

In [21]:
menu_list.append('-')
price_list.append('-')

In [22]:
df.columns = ['메뉴','가격','메뉴','가격','메뉴','가격']

In [23]:
df

                        메뉴      가격         메뉴     가격                 메뉴     가격
0                  순보리비빔냉면   6,000    새콤달콤비빔면  6,000  냉치정식（냉국수＋미니치즈돈까스）  9,000
1         국만정식（생면국수＋찐만두4개）   6,000  오리엔탈오므라이스  6,500             알찬칼만두국  6,500
2       국치정식（생면국수＋미니치즈돈까스）   8,000    돈까스카레덮밥  7,000             사골고기국수  7,000
3   뜨끈탕면정식（모듬어묵탕면＋미니치즈돈까스）   9,500    상하이진한짬뽕  7,000       들깨칼국수（검은콩생면）  6,500
4   뜨끈우동정식（모듬어묵우동＋미니치즈돈까스）   9,500      치즈돈까스  8,500             모둠어묵탕면  6,000
5       힘찬정식（소고기낙지덮밥＋미니우동）   9,800      돈까스덮밥  6,500             모둠어묵우동  6,000
6   진국정식（베트남소고기쌀국수＋새우튀김2개）   8,500  오리엔탈오므라이스  6,500              갓모둠튀김  4,500
7    크림돈까스정식（크림돈까스＋미니우동＋밥）  10,500    소고기낙지덮밥  7,300              국물떡볶이  4,000
8    로제돈까스정식（로제돈까스＋미니우동＋밥）  10,500      치즈돈까스  8,500             새우튀김2개  2,000
9                  돈까스카레덮밥   7,000    상하이진한짬뽕  7,000        미니 고구마치즈돈까스  4,000
10               오리엔탈오므라이스   6,500    새콤달콤비빔면  6,000           미니 치즈돈까스  3,500
11                  국수나무알밥   7,000    국수나무돈까스  7,300            찐만두(8개)  3,000
12                상하이진한짬뽕밥   7,000      로제돈까스  8,900               미니우동  2,500
13                 소고기낙지덮밥   7,300      크림돈까스  8,900            찐만두（4개）  1,500
14                   소고기덮밥   6,900      치즈돈까스  8,500          만들어먹는 주먹밥  3,500
15                  소고기짬뽕밥   8,500    김치찌개돈까스  7,000            생면사리 추가  1,500
16                   소고기짬뽕   8,500      돈까스덮밥  6,500            우동사리 추가  1,500
17                   해물백짬뽕   7,500     완소미역국수  5,900           쌀국수사리 추가  1,500
18               베트남소고기쌀국수   6,500       생면국수  4,500                공기밥  1,000
19                 상하이진한짬뽕   7,000    새콤달콤비빔면  6,000            친환경 한라봉  1,000
20                  새우튀김우동   6,000     국수나무우동  4,500                음료수  2,000

In [26]:
df.to_excel('./guksu_menu.xlsx')

In [292]:
True + True

2

In [27]:
! open .